{% extends 'base.html.twig' %}

{% block title 'Agence Symfony' %}

{% block body %}
    <div class="text-center bg-light p-5">
        <h1 class="mb-3">Bienvenue sur la page d'accueil !</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aut cumque dolore error expedita itaque iure iusto magni, molestiae numquam omnis provident quae repellat sint soluta tempora unde voluptate voluptatibus.</p>
    </div>
    <div class="container my-4">
        <h2>Les derniers biens</h2>
        <div class="row flex mt-3">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                            </h5>
                            <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                            <div class="text-primary" style="font-weight: bold;font-size: 2rem;">{{ property.formattedPrice }} €</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}